<a href="https://colab.research.google.com/github/ariels1011/amigosecreto/blob/master/AluraStoreLatam_Ariel.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Importación de datos

In [ ]:
import pandas as pd

url = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_1%20.csv"
url2 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_2.csv"
url3 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_3.csv"
url4 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_4.csv"

tienda = pd.read_csv(url)
tienda2 = pd.read_csv(url2)
tienda3 = pd.read_csv(url3)
tienda4 = pd.read_csv(url4)

tienda.head()

,Producto,Categoría del Producto,Precio,Costo de envío,Fecha de Compra,Vendedor,Lugar de Compra,Calificación,Método de pago,Cantidad de cuotas,lat,lon
0,Asistente virtual,Electrónicos,164300.0,6900.0,16/01/2021,Pedro Gomez,Bogotá,4,Tarjeta de crédito,8,4.60971,-74.08175
1,Mesa de comedor,Muebles,192300.0,8400.0,18/05/2022,Beatriz Morales,Medellín,1,Tarjeta de crédito,4,6.25184,-75.56359
2,Juego de mesa,Juguetes,209600.0,15900.0,15/03/2021,Juan Fernandez,Cartagena,1,Tarjeta de crédito,1,10.39972,-75.51444
3,Microondas,Electrodomésticos,757500.0,41000.0,03/05/2022,Juan Fernandez,Cali,4,Nequi,1,3.43722,-76.52250
4,Silla de oficina,Muebles,335200.0,20200.0,07/11/2020,Maria Alfonso,Medellín,5,Nequi,1,6.25184,-75.56359

#1. Análisis de facturación

In [1]:
import pandas as pd

url = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_1%20.csv"
url2 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_2.csv"
url3 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_3.csv"
url4 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_4.csv"

tienda = pd.read_csv(url)
tienda2 = pd.read_csv(url2)
tienda3 = pd.read_csv(url3)
tienda4 = pd.read_csv(url4)

tienda.head()
# Nombre del archivo a analizar
file_name = 'tienda_1 .csv'
file_name = 'tienda_2 .csv'


try:
    # Cargar el archivo CSV
    df = pd.read_csv(url)
    df2 = pd.read_csv(url2)
    df3 = pd.read_csv(url3)
    df4 = pd.read_csv(url4)

    # Calcular la facturación (suma de la columna 'Precio')

    facturacion_tienda1 = round(df['Precio'].sum())
    facturacion_tienda2 = round(df2['Precio'].sum())
    facturacion_tienda3 = round(df3['Precio'].sum())
    facturacion_tienda4 = round(df4['Precio'].sum())

    # Formatear el resultado para mejor visualización
    facturacion_formato1 = f"${facturacion_tienda1:,}".replace(",", "X").replace(".", ",").replace("X", ".")
    facturacion_formato2 = f"${facturacion_tienda2:,}".replace(",", "X").replace(".", ",").replace("X", ".")
    facturacion_formato3 = f"${facturacion_tienda3:,}".replace(",", "X").replace(".", ",").replace("X", ".")
    facturacion_formato4 = f"${facturacion_tienda4:,}".replace(",", "X").replace(".", ",").replace("X", ".")

    print(f"La facturación total de tienda 1 es:")
    print(f"{facturacion_formato1}")
    print(f"La facturación total de tienda 2 es:")
    print(f"{facturacion_formato2}")
    print(f"La facturación total de tienda 3 es:")
    print(f"{facturacion_formato3}")
    print(f"La facturación total de tienda 4 es:")
    print(f"{facturacion_formato4}")

except FileNotFoundError:
    print(f"Error: El archivo {file_name} no fue encontrado.")
except KeyError:
    print(f"Error: La columna 'Precio' no se encontró en el archivo {file_name}. Por favor, verifica el nombre de la columna.")
except Exception as e:
    print(f"Ocurrió un error inesperado al procesar {file_name}: {e}")

La facturación total de tienda 1 es:
$1.150.880.400
La facturación total de tienda 2 es:
$1.116.343.500
La facturación total de tienda 3 es:
$1.098.019.600
La facturación total de tienda 4 es:
$1.038.375.700

# 2. Ventas por categoría Tienda 1

In [7]:
import pandas as pd

url = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_1%20.csv"
url2 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_2.csv"
url3 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_3.csv"
url4 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_4.csv"

tienda = pd.read_csv(url)


tienda.head()
# Nombre del archivo a analizar
file_name = 'tienda_1 .csv'



try:
    # 1.Cargar el archivo CSV
    df = pd.read_csv(url)

    # 2. Agrupar por 'Categoría del Producto' y sumar la columna 'Precio'
    ventas_por_categoria = df.groupby('Categoría del Producto')['Precio'].sum()

    # 3. Ordenar el resultado de mayor a menor venta (opcional, pero útil)
    ventas_por_categoria = ventas_por_categoria.sort_values(ascending=False)

    # 4. Formatear y mostrar los resultados
    print("--- Ventas Totales por Categoría de Producto Tienda 1---")

    # Lista para almacenar los resultados formateados
    resultados_formateados = []

    for categoria, venta in ventas_por_categoria.items():
        # Convertir a entero (sin redondear)
        venta_entera = int(venta)

        # Formatear la venta con separadores de miles
        venta_formato = f"${venta_entera:,}".replace(",", "X").replace(".", ",").replace("X", ".")

        resultados_formateados.append(f"{categoria:<30}: {venta_formato}")

    for linea in resultados_formateados:
        print(linea)

    # Calcular y mostrar el total (sin decimales)
    total_facturacion = int(df['Precio'].sum())
    total_formato = f"${total_facturacion:,}".replace(",", "X").replace(".", ",").replace("X", ".")
    print("-" * 50)
    print(f"{'TOTAL DE FACTURACIÓN':<30}: {total_formato}")


except FileNotFoundError:
    print(f"Error: El archivo {file_name} no fue encontrado.")
except KeyError as e:
    print(f"Error: Una columna necesaria no fue encontrada. Verifique si 'Categoría del Producto' o 'Precio' existen. Detalle: {e}")
except Exception as e:
    print(f"Ocurrió un error inesperado al procesar {file_name}: {e}")

--- Ventas Totales por Categoría de Producto Tienda 1---
Electrónicos                  : $429.493.500
Electrodomésticos             : $363.685.200
Muebles                       : $187.633.700
Instrumentos musicales        : $91.299.000
Deportes y diversión          : $39.290.000
Juguetes                      : $17.995.700
Artículos para el hogar       : $12.698.400
Libros                        : $8.784.900
--------------------------------------------------
TOTAL DE FACTURACIÓN          : $1.150.880.400

Ventas por Categoria Tienda 2

In [4]:
import pandas as pd

url = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_1%20.csv"
url2 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_2.csv"
url3 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_3.csv"
url4 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_4.csv"

tienda = pd.read_csv(url)


tienda.head()
# Nombre del archivo a analizar
file_name = 'tienda_2 .csv'



try:
    # 1.Cargar el archivo CSV
    df = pd.read_csv(url2)

    # 2. Agrupar por 'Categoría del Producto' y sumar la columna 'Precio'
    ventas_por_categoria = df.groupby('Categoría del Producto')['Precio'].sum()

    # 3. Ordenar el resultado de mayor a menor venta (opcional, pero útil)
    ventas_por_categoria = ventas_por_categoria.sort_values(ascending=False)

    # 4. Formatear y mostrar los resultados
    print("--- Ventas Totales por Categoría de Producto Tienda 2---")

    # Lista para almacenar los resultados formateados
    resultados_formateados = []

    for categoria, venta in ventas_por_categoria.items():
        # Convertir a entero (sin redondear)
        venta_entera = int(venta)

        # Formatear la venta con separadores de miles
        venta_formato = f"${venta_entera:,}".replace(",", "X").replace(".", ",").replace("X", ".")

        resultados_formateados.append(f"{categoria:<30}: {venta_formato}")

    for linea in resultados_formateados:
        print(linea)

    # Calcular y mostrar el total (sin decimales)
    total_facturacion = int(df['Precio'].sum())
    total_formato = f"${total_facturacion:,}".replace(",", "X").replace(".", ",").replace("X", ".")
    print("-" * 50)
    print(f"{'TOTAL DE FACTURACIÓN':<30}: {total_formato}")


except FileNotFoundError:
    print(f"Error: El archivo {file_name} no fue encontrado.")
except KeyError as e:
    print(f"Error: Una columna necesaria no fue encontrada. Verifique si 'Categoría del Producto' o 'Precio' existen. Detalle: {e}")
except Exception as e:
    print(f"Ocurrió un error inesperado al procesar {file_name}: {e}")

--- Ventas Totales por Categoría de Producto Tienda 2---
Electrónicos                  : $410.831.100
Electrodomésticos             : $348.567.800
Muebles                       : $176.426.300
Instrumentos musicales        : $104.990.300
Deportes y diversión          : $34.744.500
Juguetes                      : $15.945.400
Artículos para el hogar       : $14.746.900
Libros                        : $10.091.200
--------------------------------------------------
TOTAL DE FACTURACIÓN          : $1.116.343.500

Ventas por Categoria Tienda 3

In [5]:
import pandas as pd

url = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_1%20.csv"
url2 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_2.csv"
url3 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_3.csv"
url4 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_4.csv"

tienda = pd.read_csv(url)


tienda.head()
# Nombre del archivo a analizar
file_name = 'tienda_3 .csv'



try:
    # 1.Cargar el archivo CSV
    df = pd.read_csv(url3)

    # 2. Agrupar por 'Categoría del Producto' y sumar la columna 'Precio'
    ventas_por_categoria = df.groupby('Categoría del Producto')['Precio'].sum()

    # 3. Ordenar el resultado de mayor a menor venta (opcional, pero útil)
    ventas_por_categoria = ventas_por_categoria.sort_values(ascending=False)

    # 4. Formatear y mostrar los resultados
    print("--- Ventas Totales por Categoría de Producto Tienda 3---")

    # Lista para almacenar los resultados formateados
    resultados_formateados = []

    for categoria, venta in ventas_por_categoria.items():
        # Convertir a entero (sin redondear)
        venta_entera = int(venta)

        # Formatear la venta con separadores de miles
        venta_formato = f"${venta_entera:,}".replace(",", "X").replace(".", ",").replace("X", ".")

        resultados_formateados.append(f"{categoria:<30}: {venta_formato}")

    for linea in resultados_formateados:
        print(linea)

    # Calcular y mostrar el total (sin decimales)
    total_facturacion = int(df['Precio'].sum())
    total_formato = f"${total_facturacion:,}".replace(",", "X").replace(".", ",").replace("X", ".")
    print("-" * 50)
    print(f"{'TOTAL DE FACTURACIÓN':<30}: {total_formato}")


except FileNotFoundError:
    print(f"Error: El archivo {file_name} no fue encontrado.")
except KeyError as e:
    print(f"Error: Una columna necesaria no fue encontrada. Verifique si 'Categoría del Producto' o 'Precio' existen. Detalle: {e}")
except Exception as e:
    print(f"Ocurrió un error inesperado al procesar {file_name}: {e}")

--- Ventas Totales por Categoría de Producto Tienda 3---
Electrónicos                  : $410.775.800
Electrodomésticos             : $329.237.900
Muebles                       : $201.072.100
Instrumentos musicales        : $77.380.900
Deportes y diversión          : $35.593.100
Juguetes                      : $19.401.100
Artículos para el hogar       : $15.060.000
Libros                        : $9.498.700
--------------------------------------------------
TOTAL DE FACTURACIÓN          : $1.098.019.600

In [6]:
import pandas as pd

url = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_1%20.csv"
url2 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_2.csv"
url3 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_3.csv"
url4 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_4.csv"

tienda = pd.read_csv(url4)


tienda.head()
# Nombre del archivo a analizar
file_name = 'tienda_4 .csv'



try:
    # 1.Cargar el archivo CSV
    df = pd.read_csv(url4)

    # 2. Agrupar por 'Categoría del Producto' y sumar la columna 'Precio'
    ventas_por_categoria = df.groupby('Categoría del Producto')['Precio'].sum()

    # 3. Ordenar el resultado de mayor a menor venta (opcional, pero útil)
    ventas_por_categoria = ventas_por_categoria.sort_values(ascending=False)

    # 4. Formatear y mostrar los resultados
    print("--- Ventas Totales por Categoría de Producto Tienda 4---")

    # Lista para almacenar los resultados formateados
    resultados_formateados = []

    for categoria, venta in ventas_por_categoria.items():
        # Convertir a entero (sin redondear)
        venta_entera = int(venta)

        # Formatear la venta con separadores de miles
        venta_formato = f"${venta_entera:,}".replace(",", "X").replace(".", ",").replace("X", ".")

        resultados_formateados.append(f"{categoria:<30}: {venta_formato}")

    for linea in resultados_formateados:
        print(linea)

    # Calcular y mostrar el total (sin decimales)
    total_facturacion = int(df['Precio'].sum())
    total_formato = f"${total_facturacion:,}".replace(",", "X").replace(".", ",").replace("X", ".")
    print("-" * 50)
    print(f"{'TOTAL DE FACTURACIÓN':<30}: {total_formato}")


except FileNotFoundError:
    print(f"Error: El archivo {file_name} no fue encontrado.")
except KeyError as e:
    print(f"Error: Una columna necesaria no fue encontrada. Verifique si 'Categoría del Producto' o 'Precio' existen. Detalle: {e}")
except Exception as e:
    print(f"Ocurrió un error inesperado al procesar {file_name}: {e}")

--- Ventas Totales por Categoría de Producto Tienda 4---
Electrónicos                  : $409.476.100
Electrodomésticos             : $283.260.200
Muebles                       : $192.528.900
Instrumentos musicales        : $75.102.400
Deportes y diversión          : $33.350.100
Juguetes                      : $20.262.200
Artículos para el hogar       : $15.074.500
Libros                        : $9.321.300
--------------------------------------------------
TOTAL DE FACTURACIÓN          : $1.038.375.700

Ventas por Categoria Tienda 4

# 3. Calificación promedio de la tienda

In [8]:
import pandas as pd

url = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_1%20.csv"
url2 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_2.csv"
url3 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_3.csv"
url4 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_4.csv"

tienda = pd.read_csv(url)


tienda.head()
# Nombre del archivo a analizar
file_name = 'tienda_1 .csv'
file_name2 = 'tienda_2 .csv'
file_name3 = 'tienda_3 .csv'
file_name4 = 'tienda_4 .csv'



try:
    # 1.Cargar el archivo CSV
    df = pd.read_csv(url)
    df2 = pd.read_csv(url2)
    df3 = pd.read_csv(url3)
    df4 = pd.read_csv(url4)

    #
# 2. Calcular el promedio de la columna 'Calificación'<
    # Usamos .mean() para obtener el promedio
    promedio_calificacion = df['Calificación'].mean()
    promedio_calificacion2 = df2['Calificación'].mean()
    promedio_calificacion3 = df3['Calificación'].mean()
    promedio_calificacion4 = df4['Calificación'].mean()


    # 3. Formatear el resultado para mostrar dos decimales
    promedio_formato = f"{promedio_calificacion:.2f}"
    promedio_formato2 = f"{promedio_calificacion2:.2f}"
    promedio_formato3 = f"{promedio_calificacion3:.2f}"
    promedio_formato4 = f"{promedio_calificacion4:.2f}"

    print(f"--- Promedio de Calificación de Clientes ({file_name}) ---")
    print(f"El promedio de calificación de los clientes es: {promedio_formato}")
    print(f"--- Promedio de Calificación de Clientes ({file_name2}) ---")
    print(f"El promedio de calificación de los clientes es: {promedio_formato2}")
    print(f"--- Promedio de Calificación de Clientes ({file_name3}) ---")
    print(f"El promedio de calificación de los clientes es: {promedio_formato3}")
    print(f"--- Promedio de Calificación de Clientes ({file_name4}) ---")
    print(f"El promedio de calificación de los clientes es: {promedio_formato4}")

except FileNotFoundError:
    print(f"Error: El archivo {file_name} no fue encontrado.")
except KeyError:
    print(f"Error: La columna 'Calificación' no se encontró en el archivo {file_name}. Verifique el nombre de la columna.")
except Exception as e:
    print(f"Ocurrió un error inesperado al procesar {file_name}: {e}")

--- Promedio de Calificación de Clientes (tienda_1 .csv) ---
El promedio de calificación de los clientes es: 3.98
--- Promedio de Calificación de Clientes (tienda_2 .csv) ---
El promedio de calificación de los clientes es: 4.04
--- Promedio de Calificación de Clientes (tienda_3 .csv) ---
El promedio de calificación de los clientes es: 4.05
--- Promedio de Calificación de Clientes (tienda_4 .csv) ---
El promedio de calificación de los clientes es: 4.00

# 4. Productos más y menos vendidos

Tienda 1

In [9]:
import pandas as pd

url = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_1%20.csv"
url2 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_2.csv"
url3 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_3.csv"
url4 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_4.csv"

tienda = pd.read_csv(url)


tienda.head()
# Nombre del archivo a analizar
file_name = 'tienda_1 .csv'
file_name2 = 'tienda_2 .csv'
file_name3 = 'tienda_3 .csv'
file_name4 = 'tienda_4 .csv'



try:
    # 1.Cargar el archivo CSV
    df = pd.read_csv(url)
    df2 = pd.read_csv(url2)
    df3 = pd.read_csv(url3)
    df4 = pd.read_csv(url4)

# 2. Agrupar por 'Producto' y sumar la columna 'Cantidad' para obtener el total de unidades vendidas
    ventas_por_producto = df.groupby('Producto')['Cantidad de cuotas'].sum()

    # 3. Obtener los 5 productos más vendidos (top 5)
    productos_mas_vendidos = ventas_por_producto.nlargest(5)

    # 4. Obtener los 5 productos menos vendidos (bottom 5)
    productos_menos_vendidos = ventas_por_producto.nsmallest(5)

    # --- Mostrar Resultados ---
    print(f"--- 🥇 Top 5 Productos Más Vendidos ({file_name}) ---")
    for producto, cantidad in productos_mas_vendidos.items():
        print(f"{producto:<30}: {cantidad} unidades")

    print("\n" + "="*50 + "\n")

    print(f"--- 📉 Top 5 Productos Menos Vendidos ({file_name}) ---")
    for producto, cantidad in productos_menos_vendidos.items():
        print(f"{producto:<30}: {cantidad} unidades")

except FileNotFoundError:
    print(f"Error: El archivo {file_name} no fue encontrado.")
except KeyError as e:
    print(f"Error: Una columna necesaria no fue encontrada. Verifique si 'Producto' o 'Cantidad de cuotas' existen. Detalle: {e}")
except Exception as e:
    print(f"Ocurrió un error inesperado al procesar {file_name}: {e}")

--- 🥇 Top 5 Productos Más Vendidos (tienda_1 .csv) ---
Secadora de ropa              : 214 unidades
TV LED UHD 4K                 : 196 unidades
Mesa de noche                 : 188 unidades
Impresora                     : 182 unidades
Bicicleta                     : 178 unidades

==================================================

--- 📉 Top 5 Productos Menos Vendidos (tienda_1 .csv) ---
Celular ABXY                  : 78 unidades
Mochila                       : 90 unidades
Dinosaurio Rex                : 94 unidades
Tablet ABXY                   : 99 unidades
Cuerda para saltar            : 100 unidades

Tienda 2

In [11]:
import pandas as pd

url = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_1%20.csv"
url2 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_2.csv"
url3 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_3.csv"
url4 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_4.csv"

tienda = pd.read_csv(url)


tienda.head()
# Nombre del archivo a analizar
file_name = 'tienda_1 .csv'
file_name2 = 'tienda_2 .csv'
file_name3 = 'tienda_3 .csv'
file_name4 = 'tienda_4 .csv'



try:
    # 1.Cargar el archivo CSV
    df = pd.read_csv(url)
    df2 = pd.read_csv(url2)
    df3 = pd.read_csv(url3)
    df4 = pd.read_csv(url4)

# 2. Agrupar por 'Producto' y sumar la columna 'Cantidad' para obtener el total de unidades vendidas
    ventas_por_producto = df2.groupby('Producto')['Cantidad de cuotas'].sum()

    # 3. Obtener los 5 productos más vendidos (top 5)
    productos_mas_vendidos = ventas_por_producto.nlargest(5)

    # 4. Obtener los 5 productos menos vendidos (bottom 5)
    productos_menos_vendidos = ventas_por_producto.nsmallest(5)

    # --- Mostrar Resultados ---
    print(f"--- 🥇 Top 5 Productos Más Vendidos ({file_name2}) ---")
    for producto, cantidad in productos_mas_vendidos.items():
        print(f"{producto:<30}: {cantidad} unidades")

    print("\n" + "="*50 + "\n")

    print(f"--- 📉 Top 5 Productos Menos Vendidos ({file_name2}) ---")
    for producto, cantidad in productos_menos_vendidos.items():
        print(f"{producto:<30}: {cantidad} unidades")

except FileNotFoundError:
    print(f"Error: El archivo {file_name2} no fue encontrado.")
except KeyError as e:
    print(f"Error: Una columna necesaria no fue encontrada. Verifique si 'Producto' o 'Cantidad de cuotas' existen. Detalle: {e}")
except Exception as e:
    print(f"Ocurrió un error inesperado al procesar {file_name2}: {e}")

--- 🥇 Top 5 Productos Más Vendidos (tienda_2 .csv) ---
Iniciando en programación     : 223 unidades
Iphone 15                     : 195 unidades
Guitarra acústica             : 183 unidades
Microondas                    : 179 unidades
Secadora de ropa              : 177 unidades

==================================================

--- 📉 Top 5 Productos Menos Vendidos (tienda_2 .csv) ---
Mesa de comedor               : 89 unidades
Bicicleta                     : 98 unidades
Set de vasos                  : 98 unidades
Juego de mesa                 : 99 unidades
Sillón                        : 100 unidades

Tienda 3

In [12]:
import pandas as pd

url = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_1%20.csv"
url2 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_2.csv"
url3 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_3.csv"
url4 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_4.csv"

tienda = pd.read_csv(url)


tienda.head()
# Nombre del archivo a analizar
file_name = 'tienda_1 .csv'
file_name2 = 'tienda_2 .csv'
file_name3 = 'tienda_3 .csv'
file_name4 = 'tienda_4 .csv'



try:
    # 1.Cargar el archivo CSV
    df = pd.read_csv(url)
    df2 = pd.read_csv(url2)
    df3 = pd.read_csv(url3)
    df4 = pd.read_csv(url4)

# 2. Agrupar por 'Producto' y sumar la columna 'Cantidad' para obtener el total de unidades vendidas
    ventas_por_producto = df3.groupby('Producto')['Cantidad de cuotas'].sum()

    # 3. Obtener los 5 productos más vendidos (top 5)
    productos_mas_vendidos = ventas_por_producto.nlargest(5)

    # 4. Obtener los 5 productos menos vendidos (bottom 5)
    productos_menos_vendidos = ventas_por_producto.nsmallest(5)

    # --- Mostrar Resultados ---
    print(f"--- 🥇 Top 5 Productos Más Vendidos ({file_name3}) ---")
    for producto, cantidad in productos_mas_vendidos.items():
        print(f"{producto:<30}: {cantidad} unidades")

    print("\n" + "="*50 + "\n")

    print(f"--- 📉 Top 5 Productos Menos Vendidos ({file_name3}) ---")
    for producto, cantidad in productos_menos_vendidos.items():
        print(f"{producto:<30}: {cantidad} unidades")

except FileNotFoundError:
    print(f"Error: El archivo {file_name3} no fue encontrado.")
except KeyError as e:
    print(f"Error: Una columna necesaria no fue encontrada. Verifique si 'Producto' o 'Cantidad de cuotas' existen. Detalle: {e}")
except Exception as e:
    print(f"Ocurrió un error inesperado al procesar {file_name3}: {e}")

--- 🥇 Top 5 Productos Más Vendidos (tienda_3 .csv) ---
Bicicleta                     : 191 unidades
Estufa                        : 182 unidades
Juego de mesa                 : 181 unidades
Cuerda para saltar            : 176 unidades
Refrigerador                  : 172 unidades

==================================================

--- 📉 Top 5 Productos Menos Vendidos (tienda_3 .csv) ---
TV LED UHD 4K                 : 94 unidades
Guitarra eléctrica            : 100 unidades
Smartwatch                    : 100 unidades
Microondas                    : 106 unidades
Vaso térmico                  : 109 unidades

Tienda 4

In [13]:
import pandas as pd

url = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_1%20.csv"
url2 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_2.csv"
url3 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_3.csv"
url4 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_4.csv"

tienda = pd.read_csv(url)


tienda.head()
# Nombre del archivo a analizar
file_name = 'tienda_1 .csv'
file_name2 = 'tienda_2 .csv'
file_name3 = 'tienda_3 .csv'
file_name4 = 'tienda_4 .csv'



try:
    # 1.Cargar el archivo CSV
    df = pd.read_csv(url)
    df2 = pd.read_csv(url2)
    df3 = pd.read_csv(url3)
    df4 = pd.read_csv(url4)

# 2. Agrupar por 'Producto' y sumar la columna 'Cantidad' para obtener el total de unidades vendidas
    ventas_por_producto = df4.groupby('Producto')['Cantidad de cuotas'].sum()

    # 3. Obtener los 5 productos más vendidos (top 5)
    productos_mas_vendidos = ventas_por_producto.nlargest(5)

    # 4. Obtener los 5 productos menos vendidos (bottom 5)
    productos_menos_vendidos = ventas_por_producto.nsmallest(5)

    # --- Mostrar Resultados ---
    print(f"--- 🥇 Top 5 Productos Más Vendidos ({file_name4}) ---")
    for producto, cantidad in productos_mas_vendidos.items():
        print(f"{producto:<30}: {cantidad} unidades")

    print("\n" + "="*50 + "\n")

    print(f"--- 📉 Top 5 Productos Menos Vendidos ({file_name4}) ---")
    for producto, cantidad in productos_menos_vendidos.items():
        print(f"{producto:<30}: {cantidad} unidades")

except FileNotFoundError:
    print(f"Error: El archivo {file_name4} no fue encontrado.")
except KeyError as e:
    print(f"Error: Una columna necesaria no fue encontrada. Verifique si 'Producto' o 'Cantidad de cuotas' existen. Detalle: {e}")
except Exception as e:
    print(f"Ocurrió un error inesperado al procesar {file_name4}: {e}")

--- 🥇 Top 5 Productos Más Vendidos (tienda_4 .csv) ---
Dashboards con Power BI       : 196 unidades
Cama box                      : 195 unidades
Cubertería                    : 183 unidades
Cama king                     : 175 unidades
Mesa de comedor               : 166 unidades

==================================================

--- 📉 Top 5 Productos Menos Vendidos (tienda_4 .csv) ---
Armario                       : 88 unidades
Smartwatch                    : 93 unidades
Guitarra eléctrica            : 97 unidades
Tablet ABXY                   : 100 unidades
Guitarra acústica             : 104 unidades

# 5. Envío promedio por tienda

In [14]:
import pandas as pd

url = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_1%20.csv"
url2 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_2.csv"
url3 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_3.csv"
url4 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_4.csv"

tienda = pd.read_csv(url)


tienda.head()
# Nombre del archivo a analizar
file_name = 'tienda_1 .csv'
file_name2 = 'tienda_2 .csv'
file_name3 = 'tienda_3 .csv'
file_name4 = 'tienda_4 .csv'



try:
    # 1.Cargar el archivo CSV
    df = pd.read_csv(url)
    df2 = pd.read_csv(url2)
    df3 = pd.read_csv(url3)
    df4 = pd.read_csv(url4)
# 2. Calcular el promedio de la columna 'Costo de envío'
    promedio_costo_envio = df['Costo de envío'].mean()
    promedio_costo_envio2 = df2['Costo de envío'].mean()
    promedio_costo_envio3 = df3['Costo de envío'].mean()
    promedio_costo_envio4 = df4['Costo de envío'].mean()

    # 3. Formatear el resultado como moneda, sin decimales y con separadores de miles
    # Convertimos a entero para eliminar decimales antes de formatear
    costo_entero = int(promedio_costo_envio)
    costo_entero2 = int(promedio_costo_envio2)
    costo_entero3 = int(promedio_costo_envio3)
    costo_entero4 = int(promedio_costo_envio4)


    # Formato de moneda (punto para miles)
    costo_formato = f"${costo_entero:,}".replace(",", "X").replace(".", ",").replace("X", ".")
    costo_formato2 = f"${costo_entero2:,}".replace(",", "X").replace(".", ",").replace("X", ".")
    costo_formato3 = f"${costo_entero3:,}".replace(",", "X").replace(".", ",").replace("X", ".")
    costo_formato4 = f"${costo_entero4:,}".replace(",", "X").replace(".", ",").replace("X", ".")


    print(f"--- 🚚 Costo Promedio de Envío ({file_name}) ---")
    print(f"El costo promedio de envío por producto es: {costo_formato}")
    print(f"--- 🚚 Costo Promedio de Envío ({file_name2}) ---")
    print(f"El costo promedio de envío por producto es: {costo_formato2}")
    print(f"--- 🚚 Costo Promedio de Envío ({file_name3}) ---")
    print(f"El costo promedio de envío por producto es: {costo_formato3}")
    print(f"--- 🚚 Costo Promedio de Envío ({file_name4}) ---")
    print(f"El costo promedio de envío por producto es: {costo_formato4}")

except FileNotFoundError:
    print(f"Error: El archivo {file_name} no fue encontrado.")
except KeyError:
    print(f"Error: La columna 'Costo de envío' no se encontró en el archivo {file_name}. Verifique el nombre de la columna.")
except Exception as e:
    print(f"Ocurrió un error inesperado al procesar {file_name}: {e}")

--- 🚚 Costo Promedio de Envío (tienda_1 .csv) ---
El costo promedio de envío por producto es: $26.018
--- 🚚 Costo Promedio de Envío (tienda_2 .csv) ---
El costo promedio de envío por producto es: $25.216
--- 🚚 Costo Promedio de Envío (tienda_3 .csv) ---
El costo promedio de envío por producto es: $24.805
--- 🚚 Costo Promedio de Envío (tienda_4 .csv) ---
El costo promedio de envío por producto es: $23.459

Estimado señor Juan, como su analista encargado del analisis de datos de sus 4 tiendas y en base los datos obtenidos aconsejo vender la tienda 4 ya que es la menos que facturación esta generando en comparación con las otras 3 tiendas:

La facturación total de tienda 1 es:
$1.150.880.400

La facturación total de tienda 2 es:
$1.116.343.500

La facturación total de tienda 3 es:
$1.098.019.600

**La facturación total de tienda 4 es:**
 $1.038.375.700